<footer class="mud-paper mud-elevation-1" style="padding: 20px; background-color: #2b2b2b; color: white;">
    <MudContainer>
        <MudGrid>
            <MudItem xs="12" sm="4" style="display: flex; flex-direction: column; justify-content: center;">
                <h3>About</h3>
                <p>Your Crypto Platform. Explore the world of cryptocurrencies with us.</p>
            </MudItem>
            <MudItem xs="12" sm="4" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <h3>Follow Us</h3>
                <div style="padding-top: 10px;">
                    <MudIcon Icon="@Icons.Custom.Brands.GitHub" Title="GitHub" style="color: white; cursor: pointer; margin-right: 10px;" />
                    <MudIcon Icon="@Icons.Custom.Brands.Instagram" Title="Instagram" style="color: white; cursor: pointer; margin-right: 10px;"/>
                    <MudIcon Icon="@Icons.Custom.Brands.Facebook" Title="Facebook" style="color: white; cursor: pointer; margin-right: 10px;"/>
                    <MudIcon Icon="@Icons.Custom.Brands.YouTube" Title="Youtube" style="color: white; cursor: pointer;"/>
                </div>
            </MudItem>
            <MudItem xs="12" sm="4" style="display: flex; flex-direction: column; justify-content: center;">
                <h3>Cryptocurrencies</h3>
                <p>Bitcoin, Ethereum, XRP, and more...</p>
            </MudItem>
        </MudGrid>
    </MudContainer>
</footer>


@code {
    
}