@inherits LayoutComponentBase

<div style="display: flex; flex-direction: column; height: 100vh;">
    @* Top Nav *@
    <TopNavMenu/>
    @* Main *@
    <main style="flex-grow: 1;">
        @Body
    </main>
    @* Footer *@
    <footer style="flex-shrink: 0;">
        <Footer/>
    </footer>
</div>


@code {
    
}