@page "/"
@using BlazorCrypto.Models
@using BlazorCrypto.Services
@inject CoinGeckoService CoinGeckoService

<div style="width: 90%; margin: auto; margin-top: 50px;">
    <MudGrid Justify="Justify.SpaceBetween" Spacing="2">
        @if (_cryptocurrencies != null && _cryptocurrencies.Any())
        {
            foreach (var crypto in _cryptocurrencies)
            {
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <MudCard Style="max-width: 300px; max-height: 300px;">
                        <MudCardContent>
                            <MudAvatar Image="@crypto.Image" Size="Size.Medium" />
                            <MudText Typo="Typo.h6">@crypto.Name (@crypto.Symbol.ToUpper())</MudText>
                            <MudText>Price: $@crypto.CurrentPrice</MudText>
                            <MudText>Market Cap: $@crypto.MarketCap</MudText>
                            <MudText>24h Change: @crypto.PriceChangePercentage24H%</MudText>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }
        }
        else
        {
            <MudText>Fetching data...</MudText>
        }
    </MudGrid>
</div>



@code {
    private List<CryptocurrencyInfo>? _cryptocurrencies;

    protected override async Task OnInitializedAsync()
    {
        _cryptocurrencies = await CoinGeckoService.GetCryptocurrencyDataAsync();
    }
}